.registerContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.registerDiv {
  height: 439px;
  width: 622px;
  border: 1px solid gray;
}
.registerHeader {
  margin-top: 50px;
  grid-area: registerHeader;
}
.registerForm {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "firstName lastName"
    "emailAddress emailAddress"
    "password password"
    "registerBtn alreadyRegistered";
  gap: 20px;
  padding: 15px 50px;
}
.firstName {
  grid-area: firstName;
}
.lastName {
  grid-area: lastName;
}
.emailAddress {
  grid-area: emailAddress;
}
.password {
  grid-area: password;
}
.registerBtn {
  grid-area: registerBtn;
}
.alreadyRegistered {
  grid-area: alreadyRegistered;
}
